# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
boost
boost-cpp
descriptastorus
numpy
numpy-base
pandas
python
pytorch
tensorboard
torchvision
rdkit
readline
scikit-learn
scipy
tqdm
typing
jupyterlab
transformers